@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
nav{
  background-color: #00D09E;
  
}
:root {
  --color-primary: #00D09E;
}

body{
  background-color: #F9FAFB;
  font-family: 'Montserrat', sans-serif;
}